.about_us{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}
.about__content{
    margin: 0%;
    padding: 0%;
    align-items: flex-start;
    width: 50%;
}
.about__img{
    width: 100%;
    z-index: 1;
}


.about__text{
    align-items: flex-end;
    width: 39%;
    //margin-top: 50px;
    margin:auto;
    //padding: 50px;
    //font-size: 1.4rem;
    font-size: 1em;
}
h2{
    color: rgb(73, 73, 73);
}