.nosotros__content{
    width: 40%;
    padding: 0;
}
.nosotros__text{
    width: 60%;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 50px;
    font-size: 1.5rem;
}


.resaltado{
    font-weight: bolder;

}

.color-gris{
    color: rgb(73, 73, 73);
}

.nosotros__img{
    width: 100%;
}