.organizacion__text{
    padding-left: 5%;
    padding-right: 7%;
    font-size: 1em;
    @media only screen and (min-width:940px) and (max-width:1020px){
        padding-right: 0px;
    }
    @media only screen and (max-width:940px){
        width: 90%;
        margin-top: 2vh;
    }
    h2{
        font-weight: bold;
        color: rgb(73, 73, 73);
    }
}

.circulo-6 , .circulo-7{
    @media only screen and (max-width:1180px){
        display: none;
    }
}
.objetivos__text {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    width: 81%;
    margin: 6vh auto;
    text-align: justify;
    @media only screen and (max-width:1020px){
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: left;
    }
    h3{
        font-weight: 600;
    }
    .objetivos_generales{
        @media only screen and (max-width:1020px){
            width: 90%;
        } 
    }
    .objetivos_especificos{
        @media only screen and (max-width:1020px){
            width: 90%;
            margin-top: 2vh;
        } 
    }
    .list-group{
        @media only screen and (max-width:1020px){
            display:block;
        }
    }
}

.objetivos__item{
    padding-right: 50px;
    padding-left: 50px;
}

ol > li:before{
    font-weight: bold;
}

.organizacion {
    display: flex;
    flex-direction: row;
    align-items: center;
    height:81vh;
    background-color: white;
    margin-bottom: 8%;
    @media only screen and (max-width:940px){
        height: auto;
        flex-direction: column;
    }
}
.organizacion__content{
    @media only screen and (max-width:940px){
        width: 70%;
    }
}

.objetivos {
    background: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
}