.tazas{
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.imagen-galery{
    width: 20%;
    padding: 0;
    &:hover{
        cursor: pointer;
    }
}

a{
    text-decoration: none;
}

#btnSliderA , #btnSliderB{
    height: 10vh ;
    margin: auto ;
    width:30px ;
    background-color: rebeccapurple ;
}