body{
    margin: 0px;
    padding: 0px;
    background: rgb(243, 243, 243);
}

.funte{
    //Fuente seleccionada por la corporación
    font-family: Georgia, 'Times New Roman', Times, serif;
    // font-family: 'Inter', sans-serif;
    font-size: 1rem;
}
.btn-donation{
    background: rgb(152, 228, 251);
}