body{
    margin: 0px;
    padding: 0px;
    background: rgb(255, 255, 255);
    height: 100vh;
}

.funte{
    //Fuente seleccionada por la corporación
    font-family: Georgia, 'Times New Roman', Times, serif;
    // font-family: 'Inter', sans-serif;
    font-size: 1rem;
}
.btn-donation{
    background: rgb(152, 228, 251);
}

html{
    min-height: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}
a:visited{
    color: inherit;
    text-decoration: none;
}